*.sln
API_Server/.idea/
*.csproj
API_Server/API_Server/bin/
API_Server/API_Server/obj/
MO-API/.idea/
MO-API/Assets/Plugins/
MO-API/Assets/Scripts/
MO-API/Library/
MO-API/Temp/
MO-API/Assets/TextMesh Pro/
MO-API/Assets/UniRx.Async/
MO-API/Assets/QHierarchy/
MO-API/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
MO-API/obj/
